body{
    background-color: white;
}
.img1{
    width: 60%;
    
    margin-left: 100px;
    margin-top: 70px;
    border-radius: 5px;
}
.div1{
    width: 1000px;
    height: 120vh;
    margin: auto;
    margin-top: -10px;
    
    
    background-color: #fdcd23;
    display: flex;
    justify-content: space-between;
}
.div2{
    width: 420px;
    margin-top: 20px;
    margin-left: 20px;
    height: 450px;
    background-color: white;
    box-shadow: 0 0 20px #eee;
}