#a{
    width: 580px; height: 50px; margin-left: 5px; font-size: large; font-weight: bold;
}
#second{
    border: 1px solid; width: 580px; height: 170px;
}
#s{margin-left: 10px;

}
#secondd{
    border: 1px solid; width: 580px; height: 170px;
}
#seconds{
    border: 1px solid; width: 580px; height: 170px;
}  