#ques{
    margin-top: 70px; margin-left: 140px;
}
#num-btn{
    box-shadow: 0 0 10px gainsboro; border-radius: 5px; height: 30px;
    width: 30px; margin-left: 10px; font-weight: bold; color: darkblue;
    
    background-color: white; color: black; border: none;
}
#a{
    margin-left: 50px ; ;
}
#b{ margin-left:45px ; 

}
#c{
    margin-left: 50px ; 
}
#d{
    margin-left: 43px ;
}
#e{
    margin-left: 45px ; 
}
#exit{
     background-color: rgb(255, 0, 0);width: 120px; height: 40px;
    border-radius: 5px; border: none; box-shadow: 0 0 20px gainsboro;
      color: white; font-size: large; margin-top: 30px; margin-left: 40px;
}
#score{
    font-size: 200%; font-weight: bold; 
    color: rgb(255, 0, 0); margin-left: 220px;
}
#gang{
    margin-left: 80px; padding-top: 60px;
}
#mod{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 5px solid #000;
    width: 300px;
    height: 200px;
    background: rgba(0,0,0,0.5);
    margin: auto;
    color: #fff;
    display: none;
}
#close,#open{
    background-color: black;
color: white; 
font-size: medium;

border-radius: 5px;

border: none;
position: relative;
padding: 10px 10px;
}
#modal{
    max-width: 600px;
    height: 300px;
    margin: auto;
    background: #fff;
    color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
#aa{
    color: darkblue;
}
#ab{
    color: darkblue;
}
#close:hover{
    background-color: darkblue;
}

#open:hover{
   background-color:  darkblue;
}

#proceed{
    background-color: rgb(255, 0, 0);width: 120px; height: 40px;
    border-radius: 5px; border: none; box-shadow: 0 0 20px gainsboro;
      color: white; font-size: large; margin-top: 30px; margin-left: 50px;
}

#fanny{
    background-color: rgb(255, 0, 0);width: 120px; height: 40px;
    border-radius: 5px; border: none; box-shadow: 0 0 20px gainsboro;
     margin-left: 540px; color: white; font-size: large; margin-top: 30px;
}
#fanny:hover{
  background-color:  rgb(174, 46, 46) ; 
}



#main{
    background-image: url(yel.png); background-size: cover;
}
#imgg{
    width: 250px; height: 200px; margin-left: 220px; margin-top: 30px;
}
#wid{
    width: 300px; height: 200px; background: none; margin-left: 300px;
}
#first{
    margin-left: 450px; margin-top: 160px;
}
#bnn{width: 1250px; height: 600px;
}
/* #san{
    background-image: url(p1.jpg);
} */

#final{
    border: 1px solid; width: 700px; height: 520px; border-radius: 10px;
     margin: auto; border: none; box-shadow: 0 0 20px gainsboro; 
     ; background-color: white

}
#buttn{
    margin-top: 60px;
}


#container{
    border: 1px solid; width: 700px; height: 520px; border-radius: 10px;
     margin: auto; border: none; box-shadow: 0 0 20px gainsboro; 
     ; background-color: white;
}
#fan{border-radius: 5px; background-color: darkblue; border: none;
    color: white; margin-left: 100px; width: 70px;
     height: 40px; border-radius: 10px; box-shadow: 0 0 10px;
}
#ban{border-radius: 5px; background-color: darkblue; border: none;
    color: white;height: 40px; width:100px ; box-shadow: 0 0 10px;
    border-radius: 10px; margin-left: 10px;
}
#sub:hover{
    background-color: black;
}
#fan:hover{
    background-color: black;
}
#ten{
    margin-left: 200px;
    margin-top: 250px;
}
#ban:hover{
    background-color: black;
}
#instruc{
    border: 1px solid; width: 500px; height: 460px; 
    box-shadow: 0 0 40px gainsboro; background-color: white;
     border: none;
     border-radius: 10px;
     margin-left: 700px;
     position: relative;
     bottom: 260px;
     left: 10px;
     
}
#exit:hover{
    background-color: rgb(174, 46, 46);
}
#proceed:hover{
    background-color:rgb(174, 46, 46) ;
}


#sub{border-radius: 5px; background-color: darkblue; border: none;
    color: white;height: 40px; width:70px ; box-shadow: 0 0 10px;
    border-radius: 10px; margin-right: 40px;
}
#options{
    margin-left: 35px;list-style: none; font-size: large; color: darkblue;
}
#quests{
    color: darkblue; font-size: 170%; margin-left: 50px; margin-top: 60px;
}
#sub{
    margin-left: 300px;
}
#gbb{
    display: flex; gap: 400px; background-color: red;
}
#timing{
    margin-top: 23px;
}
#min{
    font-size: 160%;font-weight: bold; color: darkblue;
}
#sec{font-size: 160% ;font-weight: bolder; color: darkblue

}
#cbt{
    margin-left: 10px; font-size: 200%; color: darkblue;
}